page-select-delivery {
    .toolbar-title-md {
        padding: 0 0px;
        font-size: 2rem;
        /* font-weight: 500; */
        color: white;
    }
}

.alert-ios .alert-radio-label{ white-space: pre-line !important;}
.alert-md .alert-radio-label{ white-space: pre-line !important;}
.alert-wp .alert-radio-label{ white-space: pre-line !important;}
.select-text { white-space: pre-line !important; }
ion-select{
    width:   100% !important;
    max-width: 100% !important;
}

.innerDeliveryWrap{
    width: 125px;
    text-align: center;
}

.alertCss
{
    color: #000 !important
}

ion-icon.icon.icon-md.ion-ios-cloudy-outline {
    width: 100%;
    margin-bottom: 5px;
    color: #b61671
}

// ion-label{
//     white-space:normal !important;
//     }
//     .alert-radio-label {
//         white-space: normal!important;
//     }

    // .alert-md .alert-radio-label,
    // .alert-ios .alert-radio-label
    // {
    // white-space: normal !important;
    // }    

// .alert-radio-label {
//     white-space: normal!important;
// }


// .alert-wrapper { background-color: purple!important; }