<ion-header>
  
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon> 
      </button>
      <ion-title>
          <!-- <img style="padding-right:5px;padding-top:5px" src="assets/imgs/header_logo.png"/>  -->
       Change Password
      </ion-title>
    </ion-navbar>
  </ion-header>


  <ion-content class="login-content" padding>
      <ion-row class="logo-row">
          <ion-col></ion-col>
          <ion-col width-67>
            <img src="assets/imgs/applogo.png"/>
            <br><h3 style="text-align:center;color:#84c225">Grostep</h3>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      
    <div class="login-box">
      
      <form (ngSubmit)="changePwd()" [formGroup]="changePasswordForm">
        <ion-row>
          <ion-col>
            <ion-list inset>
              
              <!-- <ion-item>
                <ion-input type="text" placeholder="Old Password" name="opwd" [(ngModel)]="changepasswordCredentials.opwd" required></ion-input>
              </ion-item> -->
              
              <ion-item>
                  <ion-label  floating>New Password(Min 8 characters)</ion-label>
                <ion-input type="password" 
                [formControl]="changePasswordForm.controls['password']"
                name="password" [(ngModel)]="changepasswordCredentials.password" required></ion-input>
              </ion-item>
              <div class="error" *ngIf="changePasswordForm.controls['password'].hasError('required') && changePasswordForm.controls['password'].touched">Please enter new password.</div>             
              <div class="error" *ngIf="changePasswordForm.controls['password'].hasError('minlength') && changePasswordForm.controls['password'].touched">Minimum password length should be 8 characters.</div>
              <ion-item>
                  <ion-label  floating>Confirm Password(Min 8 characters)</ion-label>
                <ion-input type="password"
                [formControl]="changePasswordForm.controls['confirmPassword']"
                name="confirmPassword" [(ngModel)]="changepasswordCredentials.confirmPassword" required></ion-input>
              </ion-item>
              <div class="error" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') && changePasswordForm.controls['confirmPassword'].touched">Please enter confirm password.</div>             
              <div class="error" *ngIf="changePasswordForm.controls['confirmPassword'].hasError('minlength') && changePasswordForm.controls['confirmPassword'].touched">Minimum password length should be 8 characters.</div>
              <div class="error" *ngIf="changePasswordForm.validator['MatchPassword'] && changePasswordForm.controls['confirmPassword'].touched">Password not match.</div>
            </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="signup-col">
            <button class="changepasswordbutton" ion-button full type="submit"
             [disabled]="!changePasswordForm.valid">Change Password</button>
          </ion-col>
        </ion-row>
        
      </form>
    </div>
  </ion-content>
