page-change-password {
    .error{
        color:red;
        padding-left:3px
    }
}


.changepasswordbutton
{
   width:80% !important;
   color: #fff;
   font-size: 16px;
   background-color:#84c225 !important;
   font-family: ProximaNovaA-Semibold;
   float:middle !important;
   border: 1px solid #84c225; 
   margin:0 auto !important;
}