<ion-split-pane>
  
    <!-- logged out menu -->
    <ion-menu id="loggedOutMenu" [content]="content">
  
      <ion-header>
        <ion-toolbar class="toolbar">
          <ion-title>
            <b>Welcome to Grostep </b>
          </ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="outer-content">      
        <ion-list>   
          <button style="padding-top:12px !important" ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon"></ion-icon>
            {{p.title}}
          </button>
        </ion-list>
  
    
      </ion-content>
  
    </ion-menu>
  
    <!-- logged in menu -->
    <ion-menu id="loggedInMenu" [content]="content">
  
      <ion-header>
        <ion-toolbar>
            <ion-title>
                <!-- <b>Welcome {{loggedInUser}}</b> -->
                <b>Welcome to Grostep </b>
            </ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="outer-content">
        <ion-list>
          <!-- <ion-list-header>
            Account
          </ion-list-header> -->
          <button style="padding-top:12px !important" ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
            <ion-icon item-start [name]="p.icon" ></ion-icon>
            {{p.title}}
          </button>
        </ion-list>
  
      </ion-content>
  
    </ion-menu>
  
    <!-- main navigation -->
    <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>
  
  </ion-split-pane>
  