 <ion-header>
  
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon> 
      </button>
      <ion-title>
          <!-- <img style="padding-left:3%;padding-right:5%;padding-top:5px" src="assets/imgs/header_logo.png"/>  -->
        Forget Password
      </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding>
    <ion-row class="logo-row">
    <ion-col></ion-col>
    <ion-col width-67>
      <img src="assets/imgs/applogo.png"/>
      <br><h3 style="text-align:center;color:#84c225">Grostep</h3>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>

  <div class="login-box" style="padding-top:20px">
      <form (ngSubmit)="sendOTP()" [formGroup]="forgetPwdForm">
  
          <ion-row>
              <ion-item class="forgetpasswordtextbox">  
                <ion-input [(ngModel)]="email" [formControl]="forgetPwdForm.controls['email']" 
                  type="text" placeholder="Enter Registered Email Address" name="email">
                </ion-input>
              </ion-item>                  
              <div class="error" *ngIf="forgetPwdForm.controls['email'].hasError('required') && forgetPwdForm.controls['email'].touched">Please enter email address.</div>
              <div class="error" *ngIf="forgetPwdForm.controls['email'].hasError('pattern') && forgetPwdForm.controls['email'].touched">Please enter correct email address.</div>                     
            </ion-row>
        <ion-row style="padding-top:20px">
          <ion-col class="signup-col">
            <button class="forgetpasswordbutton" ion-button  full type="submit" 
            [disabled]="!forgetPwdForm.valid">SEND OTP</button>          
          </ion-col>
        </ion-row>
        
      </form>
      </div>
</ion-content>